
.encabezado-pagina {
    background-color: #00BF63;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
}

.contenedor_tabla-usuarios {
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    margin-top: 2rem;
}

.tabla-usuarios {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Permitir desplazamiento horizontal */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.usuarios-acciones {
    padding: 1rem;
    display: flex;
    gap: 2px;
}

.acciones-item {
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

    .acciones-item:hover {
        color: white;
        text-decoration: underline;
    }

.acciones-modificar {
    background-color: blue;
    padding: 10px 11px;
}

.acciones-bloquear {
    background-color: red;
    padding: 10px 13px;
}


.contenedor-datos {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.inputs-datos {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.datos-label {
    text-transform: uppercase;
    font-weight: bold;
}

.datos-input {
    border-radius: 10px;
    padding: 5px;
    background-color: #ECECEC;
    border: none;
    height: 50px;
    min-width: 250px;
}

.datos-acciones {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.btn_acciones {
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    cursor:pointer;
}

    .btn_acciones:hover {
        color: white;
        text-decoration: underline;
    }

.btn_acciones-cancelar {
    background-color: #EDCA3B;
}

.btn_acciones-actualizar {
    background-color: cornflowerblue;
}

.btn_acciones-anadir {
    background-color: #00BF63;
}

.alertas {
    margin-top: 3rem;
    color: white;
    font-weight: bold;
    background-color: red;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px;
    display:none;
}

/* Estilos para hacer la tabla responsive */
@media screen and (max-width: 768px) {
    .main {
        height: auto;
    }

    .contenedor-datos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .datos-acciones {
        flex-direction: column;
    }
}
