body {
    background-color: whitesmoke;
}

.img {
    width: 100%;
    height: auto;
    overflow-x: auto;
}

    /* imagen lado derecho */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

        .container img {
            max-width: 30%; /* ajusta el tamaño de la imagen según sea necesario */
            margin-left: 10px;
            margin-top: 20px;
            margin-right: 10px;
            height: auto;
            overflow-x: auto;
        }

