.inputs-datos {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.datos-input {
    border-radius: 10px;
    padding: 5px;
    background-color: #ececec;
    border: none;
    height: 25px;
    width: 300px; /* Se modificó el valor de width */
    margin: 0 auto; /* Se agrega para centrar horizontalmente */
}

.datos-acciones {
    display: flex;
    justify-content: center;
}

.btn_acciones {
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}


.btn_acciones-regresar {
    background-color: #585756;
}

.btn_acciones-ingresar {
    background-color: #00bf63;
}

.contenedor {
    display: flex;
    align-items: center;
}

.texto {
    text-align: right;
    margin-left: auto;
}

.imagen img {
    width: 40vw; /* El 80% del ancho del viewport */
    max-width: 100%; /* Evita que la imagen se desborde */
    height: 700px; /* Establece la altura de la imagen en 708 píxeles */
}

.texto {
    width: 60vw; /* El 80% del ancho del viewport */
    max-width: 100%; /* Evita que el texto se desborde */
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
}

    .texto p {
        color: grey; /* Cambiar el color del texto a gris */
    }

.texto {
    display: flex; /* Utilizar flexbox */
    flex-direction: column; /* Organizar los elementos en columnas */
    justify-content: space-between; /* Distribuir el espacio verticalmente */
    height: 100vh; /* Ajustar la altura del contenedor al 100% de la altura de la ventana */
}


.datos-label {
    text-transform: uppercase;
    font-weight: normal; /* Cambia a mayusculas gracias a esto */
}

.texto h1 {
    font-family: Arial, sans-serif; /* Cambia el tipo de letra de h1 a Arial o cualquier fuente sans-serif que desees */
}



/* Media query para ocultar la imagen cuando el ancho de la página sea menor que 760px */
@media (max-width: 759px) {
    .imagen img {
        display: none; /* Oculta la imagen */
    }
}

.texto {
    width: 100%; /* Ancho completo del contenedor */
    max-width: 760px; /* Ancho máximo para mantener el texto centrado */
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
}



.btn_acciones:hover {
    color: rgb(17, 16, 16); /* Cambia el color del texto al pasar el cursor */
    text-decoration: underline; /* Subraya el texto al pasar el cursor */
}

