.encabezado-pagina {
    background-color: #00BF63;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
}
.encabezado-titulo {
    background-color: white;
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
}

.letra {
    text-align: center;
    font-weight: bold;
}

.contenedor-datos {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap; /* Añade esto para que los elementos se envuelvan cuando no quepan en una sola fila */
    justify-content: center; /* Centra los elementos */
    gap: 10px;
}

.contenido-datos1 {
    display: flex;
    flex-wrap: wrap; /* Añade esto para que los elementos se envuelvan cuando no quepan en una sola fila */
    justify-content: center; /* Centra los elementos */
    gap: 10px;
}

.inputs-datos {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center; /* Centra los elementos */
}

.datos-label {
    text-transform: uppercase;
    font-weight: bold;
}

.datos-input {
    border-radius: 10px;
    padding: 5px;
    background-color: #ECECEC;
    border: none;
    height: 50px;
    min-width: 250px;
    max-width: calc(50% - 20px); /* Añade esto para que los inputs ocupen como máximo el 50% del ancho del contenedor */
}

.datos-acciones {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra los elementos */
    gap: 10px;
}

.btn_acciones {
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}

    .btn_acciones:hover {
        color: white;
        text-decoration: underline;
    }

.btn_acciones-cancelar {
    background-color: #EDCA3B;
}


.btn_acciones-agregar {
    background-color: black;
}

.btn_acciones-anadir {
    background-color: #00BF63;
}

.alertas {
    margin-top: 3rem;
    color: white;
    font-weight: bold;
    background-color: red;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

/* Estilos para hacer la tabla responsive */
@media screen and (max-width: 768px) {
    .inputs-datos {
        max-width: 100%; /* Ajusta el ancho máximo para ocupar todo el espacio en dispositivos pequeños */
    }

    .btn_acciones {
        width: 100%; /* Ajusta el ancho de los botones para ocupar todo el espacio disponible */
    }
}

