html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 60px;
}



.nav-styles {
    background-color: #edca3b;
}
.nav-list {
    text-align: center;

}

.textnav {
    font-weight: bold
}
