html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 60px;
}


.nav-styles {
    background-color: #edca3b;
}

.nav-list {
    text-align: center;
}

.textnav {
    font-weight: bold
}

.nav-item .material-icons {
    display: inline-block;
    vertical-align: middle;
}

.icono {
    display: inline-block !important;
    vertical-align: middle !important;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .icono {
        flex-direction: column;
    }
}
