@{
    ViewData["Title"] = "Generaractadeposecion";
}
@section Styles {
    <link rel="stylesheet" href="~/css/genacta.css" />
}
<div class="contenedor_generaracta">
    <div class="encabezado-pagina">
        <h1 class="pagina-titulo">Nueva acta de posecion</h1>
    </div>
    <div class="alertas container-sm" id="alertas"></div>

    <div class="contenedor-datos">
        <div class="contenido-datos3">
            <div class="inputs-datos">
                <label class="datos-label" for="tipo">Tipo de acta</label>
                <select class="datos-input" name="tipo" id="tipo">
                    <option value="secretario">Secretario</option>
                    <option value="tesorero">Tesorero</option>
                    <option value="vigilacia">Vigilacia</option>
                    <option value="admistrador">Admistrador</option>
                </select>
            </div>

        </div>
        <div class="contenido-datos1">
            <div class="inputs-datos">
                <label class="datos-label" for="nombre">Nombre(s) del que sede</label>
                <input class="datos-input" name="nombre" id="nombre" type="text" />
            </div>
             <div class="inputs-datos">
                <label class="datos-label" for="apellido">Apellido(s) del que sede</label>
                <input class="datos-input" name="apellido" id="apellido" type="text" />
            </div>
            <div class="inputs-datos">
                <div class="datos-acciones">
                    <a class="btn_acciones btn_acciones-menos" href="#" id="">Quitar</a>
                    <a class="btn_acciones btn_acciones-mas" href="#" id="">Agregar</a>
                </div>
            </div>
        </div>

        <div class="contenido-datos2">
            <div class="inputs-datos">
                <label class="datos-label" for="sede">Nombre(s) al que se le sede</label>
                <input class="datos-input" name="sede" id="sede" type="text" />
            </div>
            <div class="inputs-datos">
                <label class="datos-label" for="apellidos">Apellido(s) del que se le sede</label>
                <input class="datos-input" name="apellidos" id="apellidos" />
            </div>
            <div class="inputs-datos">
                <div class="datos-acciones">
                    <a class="btn_acciones btn_acciones-menos" href="#" id="">Quitar</a>
                    <a class="btn_acciones btn_acciones-mas" href="#" id="">Agregar</a>
                </div>
            </div>
        </div>

       <div class="contenido-datos3">
            <div class="inputs-datos">
                <label class="datos-label" for="otrosdatos">Otros datos</label>
                <textarea class="datos-input" name="otrosdatos" id="otrosdatos"></textarea>
            </div>
            <div class="inputs-datos">
                <div class="datos-acciones">
                    <a class="btn_acciones btn_acciones-cancelar" href="#" id="btn_cancelar">Cancelar</a>
                    <a class="btn_acciones btn_acciones-anadir" href="#" id="btn_anadir">Añadir</a>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <script src="~/scripts/actagenerar.js"></script>
} 