@{
    ViewData["Title"] = "IngresarMedidasPosesion";
}

@section Styles {
    <link rel="stylesheet" href="~/css/medidas.css" />
}
<div class="contenedor_ingresarmedidas">
    <div class="encabezado-pagina">
        <h1 class="pagina-titulo">Control de usuarios</h1>
    </div>

    <div class="encabezado-titulo">
        <h2 class="letra">INGRESAR MEDIDAS</h2>
    </div>

    <div class="contenedor-datos">

        <div class="contenido-datos1">
            <div class="inputs-datos">
                <label class="datos-label" for="nombre">Norte</label>
                <input class="datos-input" name="nombre" id="nombre" type="text" />
            </div>
            <div class="inputs-datos">
                <label class="datos-label" for="correo">Sur</label>
                <input class="datos-input" name="correo" id="correo" type="email" />
            </div>
            <div class="inputs-datos">
                <label class="datos-label" for="tel">Este</label>
                <input class="datos-input" name="tel" id="tel" type="tel" />
            </div>
            <div class="inputs-datos">
                <label class="datos-label" for="tel">Oeste</label>
                <input class="datos-input" name="tel" id="tel" type="tel" />
            </div>
        </div>

        <div class="encabezado-titulo"></div>
        <div class="datos-acciones">
            <a class="btn_acciones btn_acciones-agregar" href="#" id="">+</a>
        </div>

    </div>


</div>
