@{
    ViewData["Title"] = "IngresarMedidasPosesion";
}

@section Styles {
    <link rel="stylesheet" href="~/css/medidas.css" />
}
<div class="contenedor_ingresarmedidas">
    <div class="encabezado-pagina">
        <h1 class="pagina-titulo">Control de usuarios</h1>
    </div>


</div>
