@{
    ViewData["Title"] = "Login";

}

@section Styles {
    <link rel="stylesheet" href="~/css/log.css" />
}

<img src="~/assets/img/logolog.png" class="imgtop" alt="Imagen logo">


<div class="contenedor_ingresarmedidas">
    <div class="contenedor-datos container-sm">

        <div class="contenido-datos1">
            <div class="inputs-datos">
                <label class="datos-label" for="Correo">Correo electronico</label>
                <input class="datos-input" name="Correo" id="Correo" />
            </div>

        </div>

        <div class="encabezado-titulo contenido-datos1">
                <div class="inputs-datos">
                    <label class="datos-label" for="norte2">Contraseña</label>
                    <input class="datos-input" name="norte2" id="norte2" />
                </div>
        </div>

        <div class="encabezado-titulo alertas container-sm" id="alertas"></div>

        <div class="encabezado-titulo " contenido-datos4">

            <div class="inputs-datos">
                <div class="datos-acciones">
                    <a class="btn_acciones btn_acciones-cancelar" href="#" id="btn_cancelar">Regresar</a>
                    <a class="btn_acciones btn_acciones-anadir" href="#" id="btn_anadir">Ingrear</a>
                </div>
            </div>
        </div>




    </div>


</div>


@section Scripts {
   
}
<script src="~/scripts/login.js" .js"></script>