@{
    ViewData["Title"] = "Login";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

@section Styles {
    
}
<link rel="stylesheet" href="~/css/login.css" />


<div class="contenedor">
    <div class="imagen">
        <img src="~/assets/img/cap.png" alt="Imagen de inicio de sesión">
    </div>
    <div class="texto">
        <h1>Ingresar</h1>
        <p>Iniciar sesión para continuar</p>
        <div class="inputs-datos">
            <label class="datos-label" for="correo">Correo electrónico</label>
            <input class="datos-input" name="correo" id="correo" type="email" />
        </div>
        <div class="inputs-datos">
            <label class="datos-label" for="contrasena">Contraseña</label>
            <input class="datos-input" name="contrasena" id="contrasena" type="password" />
        </div>
        <div class="inputs-datos">
            <div class="datos-acciones">
                <button class="btn_acciones btn_acciones-ingresar" id="btn_ingresar">Ingresar</button>
            </div>
        </div>
        <!-- Modal -->
        <div id="modal" class="modal">
            <div class="modal-contenido">
                <span class="cerrar-modal" id="cerrar_modal">&times;</span>
                <p id="mensaje_modal"></p>
            </div>
        </div>
        <div class="inputs-datos">
            <div class="datos-acciones">
                <a class="btn_acciones btn_acciones-regresar" href="~/" id="btn_cancelar">Regresar</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {
   
}
<script src="~/scripts/login.js" .js"></script>