@using SDEVH.DTO;
@using SDEVH.Models;
@{
    ViewData["Title"] = "EditarDatosUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var DataUsuarioList = (List<Usuario>)ViewBag.UsuarioData;
}

@section Styles {
    <link rel="stylesheet" href="~/css/controlusuarios.css" />
}

<div class="encabezado-pagina">
    <h1 class="pagina-titulo">Editar datos de usuarios</h1>
</div>

<div class="contenedor-datos">
    @foreach (var usuario in DataUsuarioList)
    {
        <div class="contenido-datos">
            <div class="inputs-datos">
                <label class="datos-label" for="nombre">Nombre</label>
                <input class="datos-input" name="nombre" id="nombre" type="text" value="@usuario.Nombre" />
            </div>
            <div class="inputs-datos">
                <label class="datos-label" for="apellidos">Apellidos</label>
                <input class="datos-input" name="apellidos" id="apellidos" type="text" value="@usuario.Apellidos" />
            </div>
            <div class="inputs-datos">
                <label class="datos-label" for="correo">Correo electrónico</label>
                <input class="datos-input" name="correo" id="correo" type="email" value="@usuario.Correo" />
            </div>
            <div class="inputs-datos">
                <label class="datos-label" for="tel">Número de celular/telefono</label>
                <input class="datos-input" name="tel" id="tel" type="tel" value="@usuario.Tel" />
            </div>
            <div class="inputs-datos">
                <label class="datos-label" for="cargo">Cargo</label>
                <select class="datos-input" name="cargo" id="cargo">
                    <option value="secretario">Secretario</option>
                    <option value="tesorero">Tesorero</option>
                    <option value="vigilacia">Vigilacia</option>
                    <option value="admistrador">Administrador</option>
                </select>
            </div>
        </div>
    }
</div>

        @section Scripts {
        <script src="~/scripts/controlusuarios.js"></script>
        }
