@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/home.css" />
}


        <img src="ruta_de_la_imagen.jpg" alt="Logo">
        <h1>Ejido informacion</h1>


    <main>
        <h2>¿Qué es un ejido?</h2>
        <p>
            El ejido es un tipo de demarcación de tierras que se encuentran afuera de
            los pueblos en forma de pastizales y bosques, y por tanto eran de uso
            común, por lo que eran libres para expandir los asentamientos humanos.
        </p>
        <p>
            También el Parcelario es el documento que acredita el derecho que tiene
            el ejidatario, comunero o posesionario a usar y disfrutar de una parcela.
        </p>

        <h2>Origen histórico</h2>
        <p>
            El sistema de ejidos en México tiene su origen en la reforma agraria
            que se llevó a cabo a principios del siglo XX, particularmente durante
            el gobierno de Lázaro Cárdenas en la década de 1930. La intención era
            redistribuir la tierra para crear una sociedad más equitativa.
        </p>

        <h2>Características</h2>
        <div class="conoce-caracteristicas">
            <h3>Conoce las características:</h3>
            <p>
                1. Propiedad colectiva: La tierra es propiedad de la comunidad ejidal
                en su conjunto. Los ejidatarios tienen derechos de uso y disfrute,
                pero no pueden vender la tierra de manera individual
            </p>
            <p>
                2. Asamblea: Es el órgano máximo de toma de decisiones en el ejido.
                En la asamblea se discuten y aprueban asuntos importantes,
                como la asignación de tierras, decisiones económicas y otros
                asuntos relevantes para la comunidad.
            </p>
            <p>
                3. Parcelas: La tierra se divide en parcelas que son asignadas
                a la dotación de los ejidatarios para su cultivo.
                Estas parcelas se distribuyen de manera equitativa
                entre los miembros de la comunidad.
            </p>
            <p>
                4. Derechos de herencia y sucesión: Los derechos sobre la tierra ejidal
                pueden ser heredados, pero generalmente deben ser ejercidos por miembros
                de la misma comunidad. La venta a personas externas está prohibida.
            </p>
            <p>
                5. Prohibición de venta individual: La venta de tierras a particulares
                no puede llevarse a cabo, la venta debe realizarse por intermedio de la
                asamblea ejidal y debe beneficiar a toda la comunidad. Los ejidatarios
                no pueden vender sus parcelas de forma individual.
            </p>
        </div>
    </main>

