<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SDEVH</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/nav.css" />
    <link rel="stylesheet" href="~/css/footer.css" />

    @RenderSection("Styles", required:false)
</head>
<body>

    @* nav *@
    <header>
        <nav class="nav-styles navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-weight:bold" href="~/">SADEVH </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-weight:bold" href="~/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-weight:bold"  href="~/EstadoActa">Estado del acta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-weight:bold" href="~/EncontrarTerreno">Ubicacion del terreno</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-weight:bold" href="~/ControlUsuarios">Control de usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-weight:bold" href="~/ActaPosesion/CreacionActas">Creacion de actas</a>
                        </li>
                        
                    </ul>
                    <ul>
                        <li class="navbar-nav ms-auto">
                            <a class="nav-link text-dark" style="font-weight:bold" href="~/Privacy">USER</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>

    @* footer *@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SDEVH - <a href="~/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/scripts/jquery-3.4.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
