@{
    var userName = User.Identity.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SADVH</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Enlaza Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link href="~/css/site.css" rel="stylesheet" />


    @RenderSection("Styles", required: false)
</head>
<body class="pt-5 mt-4">
    <!-- Añade la clase pt-5 para el espacio superior -->
    <header>
        <nav class="nav-styles navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow fixed-top">
            <div class="container-fluid">
                <img src="~/assets/img/logo.png" alt="Alternate Text" />
                <a class="textnav navbar-brand" href="~/">SADEVH </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mx-auto">

                        <li class="nav-item">
                            <a class="textnav nav-link text-dark" href="~/">
                                <span class="icono"><i class="material-icons">home</i></span>
                                Inicio
                            </a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="textnav nav-link text-dark" href="~/ActaPosesion/EstadoDelActa">
                                    <span class="icono"><i class="material-icons">article</i></span>
                                    Estado del acta
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="textnav nav-link text-dark" href="~/encontrarterreno">
                                    <span class="icono"><i class="material-icons">pin_drop</i></span>
                                    Ubicacion del terreno
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="textnav nav-link text-dark" href="~/controlusuarios">
                                    <span class="icono"><i class="material-icons">admin_panel_settings</i></span>
                                    Control de usuarios
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="textnav nav-link text-dark" href="~/ActaPosesion/CreacionActas">
                                    <span class="icono"><i class="material-icons">post_add</i></span>
                                    Creacion de actas
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="textnav nav-link text-dark" href="~/cerrarsesion">
                                    Cerrar Sesion
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="textnav nav-link text-dark" href="~/login">
                                    Login
                                </a>
                            </li>
                        }


                    </ul>

                    <ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="navbar-nav ms-auto">
                                <a class="textnav nav-link text-dark" href="~/Privacy">
                                    <span class="icono"><i class="material-icons">person</i></span>
                                    @userName
                                </a>
                            </li>
                        }




                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>


    <!-- Modal de errores -->
    <div id="modalErrores" class="modal">
        <div class="modal-contenido">
            <span class="cerrar-modal" id="cerrar_modal_errores">&times;</span>
            <p id="mensaje_modal_errores"></p>
        </div>
    </div>

    @* footer *@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SDEVH - <a href="~/Privacy">Privacidad</a>
        </div>
    </footer>
    <script src="~/scripts/jquery-3.4.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/site.js"></script>
    <script src="~/scripts/modals_utils.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
